.blue {
  fill: #277da1ff;
  color: #277da1ff;
}
.gray {
  fill: #577590ff;
  color: #577590ff;
}
.bluegreen {
  fill: #4d908eff;
  color: #4d908eff;
}
.yellow-orange {
  fill: #f8961eff;
  color: #f8961eff;
}
.orange {
  fill: #f3722cff;
  color: #f3722cff;
}
.red {
  fill: #f94144ff;
  color: #f94144ff;
}
.yellow {
  fill: #f9c74fff;
  color: #f9c74fff;
}
.lightgreen {
  fill: #90be6dff;
  color: #90be6dff;
}
.green {
  fill: #43aa8bff;
  color: #43aa8bff;
}
.center {
  display: block;
  margin: auto;
  text-align: center;
}

.form-check {
  margin-left: 15px;
  margin-right: auto;
}

.op {
    border: 1px solid #000;
}